Arrays
An array is a collection of items stored in a single variable, where each item can be accessed by its position (index).

Simple Analogies
Like a row of lockers → each locker has a number (index) to find what’s inside.
Like an egg tray → each slot holds one egg, and you can pick eggs by their position.
Like a train with compartments → each compartment has passengers (data) and a fixed order.

In [ ]:
# Making 1000 Variables for user
name1="Zeeshan Ali"
name2="Ali"
name3="Asad"
name4="Ahmed"

# Memory Full
# 1000, Not Management
# 
# ..... 
# BAD APPROACH AND NOT MANAGEABLE

In [3]:
name=["ahmad", "hasan", "ali", "zeeshan"]
# index number start with zero 
print(name)
print(name[0])
print(name[1])
print(name[2])
print(name[3])

['ahmad', 'hasan', 'ali', 'zeeshan']
ahmad
hasan
ali
zeeshan

In [4]:
# pushing data into the array 
name.append("khan")
print(name)

['ahmad', 'hasan', 'ali', 'zeeshan', 'khan']

In [7]:
# remove first occurence of value
name.remove("zeeshan")
print(name)

['hasan', 'ali', 'khan']

In [8]:
# remove element from index 
name.pop(2)
print(name)

['hasan', 'ali']

In [12]:
# get index of first occurence
print(name.index("ali"))

1

In [14]:
# Take 5 Names from User using Loop and append it in array
# and afterwards print the elements in array

names = []

for i in range(5):
  name = input("Enter a number")
  names.append(name)
print(names)

['2', '2', '2', '2', '2']

In [17]:
age=[2,3,4,56,7,7]

age.count(7) # count how many times 7 appears in an array

2

In [19]:
# count how many items appears
names=["ali", "hasan","ali"]
print(names.count("ali"))

2

In [20]:
# Reverse an array 

names=["ahmad","ali","bilal"]
age=[4,5,6,7,8]
names.reverse()
age.reverse()

print(names)
print(age)

['bilal', 'ali', 'ahmad']
[8, 7, 6, 5, 4]

In [21]:
students_name = ["ahmad", "hasan", "ali","bilal"]

user_name= input("Enter a Student name")

if user_name in students_name:
  print("Yes student register in the school")
else:
  print("No Student")

Yes student register in the school

In [23]:
ages=[23,456,787,5,5,5]

max_age=max(ages)
min_age=min(ages)

print(f"Max Age: {max_age}")
print(f"Min Age: {min_age}")

Max Age: 787
Min Age: 5

In [28]:
# 1) Create an array (list) of student names and print each name using a loop.
# 2) Print the array elements in reverse order.
# 3) Print only the even numbers from an array.
# 4) Ask the user for a number and check if it exists in the array.

#1
students_list=["ahmad","ali","bilal"]

for name in students_list:
  print(name)

#2
students_list.reverse()
print(students_list)

#3
numbers = [2,32,1,45,3,5]

for num in numbers:
  if num % 2 == 0:
    print(num)

#4
numbers = [2,3,4,4]
user= int(input("Enter a number to check"))

if user in numbers:
  print("yes in numbers array")
else:
  print("No")

ahmad
ali
bilal
['bilal', 'ali', 'ahmad']
2
32
yes in numbers array

Multi Dimensional Array

In [29]:
#matrix
#2d array 

matrix_2d=[
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

print(matrix_2d[2][2]) # output is 9

9

In [30]:
matrix_3d=[
  [
    [1,2,3],
    [4,5,6]
  ],
  [
    [7,8,9],
    [10,11,12]
  ]
]

print(matrix_3d[0][0][1])

2

Tuple
Definition
A tuple is an ordered collection of items that is immutable (cannot be changed after creation). Items can be of different data types and are indexed by position.

Simple Analogies
Like a list of coordinates → (x, y) values stay fixed.

Like your date of birth → once set, it never changes.

Like a fixed menu combo → items are chosen and stay in the same order.

Want me to also create this same structured format for List and Set so you’ll have the full Python collection family side by side?

In [33]:
# Creating a tuple
numbers = (1, 2, 3)
print(numbers)

(1, 2, 3)

In [ ]:
# Mixed data types
person = ("Alice", 25, "Engineer")
print(person[0])       # Alice
print(person[1])

In [ ]:

# Nested tuple
coordinates = ((10, 20), (30, 40))
print(coordinates[1])  # (30, 40)

# immutable nature mean not change when it declares
person[1] = 26  # erro tuples cannot be modified

Dictionary

Definition
A dictionary is a collection of key–value pairs, where each key is unique and is used to access its corresponding value.

Simple Analogies
Like a real dictionary → a word (key) gives its meaning (value).
Like a contacts list in your phone → a name (key) gives a phone number (value).
Like a student ID card → ID number (key) points to student details (value).

In [35]:
student ={
  "name": "ahmad",
  "age": 20,
  "course": ['Math','Python']
}
print(student)
print(student['name'])

{'name': 'ahmad', 'age': 20, 'course': ['Math', 'Python']}
ahmad

In [36]:
# adding data to the dictionary 

student['phone'] = '03084911028'
print(student['phone'])

03084911028

In [37]:
my_car={
  "name":"Toyota",
  "model":"Camry",
  "year": 2021,
  "color": 'Blue',
  "owner":'Zeeshan'
}

my_car_Set={
   "Toyota",
    "Camry",
    "Camry",
    2020,
    "Blue",
    "Alice"
}

print(my_car_Set)

{'Camry', 'Alice', 2020, 'Blue', 'Toyota'}

In [38]:
# removing item form dic

del student['age']

print(student)

{'name': 'ahmad', 'course': ['Math', 'Python'], 'phone': '03084911028'}

In [41]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'course', 'phone'])
dict_values(['ahmad', ['Math', 'Python'], '03084911028'])
dict_items([('name', 'ahmad'), ('course', ['Math', 'Python']), ('phone', '03084911028')])

In [47]:
for key,value in student.items():
  print(f"{key}:s {value}")

name:s ahmad
course:s ['Math', 'Python']
phone:s 03084911028